yottatsa.name yottatsa.name

my@yottatsa.name	yottatsa@icloud.com,root
yottatsa@yottatsa.name	yottatsa@icloud.com,root
me@yottatsa.name	yottatsa@icloud.com,root

subscribe@yottatsa.name	yottatsaonfinances@icloud.com,root

uk@yottatsa.name	yottatsaonfinances@icloud.com,root
us@yottatsa.name	yottatsaonfinances@icloud.com,root
