yottatsa.name yottatsa.name

my@yottatsa.name	yottatsa/Maildir/
yottatsa@yottatsa.name	yottatsa/Maildir/
me@yottatsa.name	yottatsa/Maildir/

subscribe@yottatsa.name	yottatsa/Maildir/.Services/
uk@yottatsa.name	yottatsa/Maildir/.Services/
us@yottatsa.name	yottatsa/Maildir/.Services/
